:root {
  --primaryColor: #48355b;
}

* {
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif !important;
  background-image: url("../background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* learn more about us */
summary {
  outline: none;
}
details {
  padding: 10px;
}
.nav-list {
  height: 140px;
}
.page-container {
  height: 700px;
}
.developers span a {
  margin: 15px;
  text-decoration: none;
  color: black;
}

/* Input */

.playersName {
  margin: 10px 0;
  color: var(--primaryColor);
  border-radius: 10px;
  padding: 5px 30px;
  box-shadow: 0 0 0px #000000, 0px 4px 5px 0 #e7e4e4;
  border-style: none !important;
  outline: none;
  /* width: 150px; */
  text-align: center;
  margin-left: 10px;
}
form {
  margin-top: 40px;
}

/* add & remove players buttons */

.fa-user-plus,
.removePlayer {
  cursor: pointer;
  color: white;
  text-shadow: -1px 0 var(--primaryColor), 0 1px var(--primaryColor),
    1px 0 var(--primaryColor), 0 -1px var(--primaryColor);
}
.fa-user-plus {
  margin: 20px 0 30px 0;
  font-size: 1.5em;
}
.removePlayer:hover {
  font-size: 1.1em;
  color: #ff6d00;
}

/* timer */

.countdown-number {
  color: var(--primaryColor);
  display: inline-block;
  line-height: 40px;
  font-size: 12px !important;
}
svg {
  position: absolute;
  top: 70;
  right: 130px;
  width: 40px;
  height: 40px;
  /* transform: rotateY(-180deg) rotateZ(-90deg); */
}
svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: var(--primaryColor);
  fill: none;
  /* animation: countdown 11s linear infinite forwards; */
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
