body {
  background-image: url("../background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* logo */
.logo-name {
  color: #fff;
  font-weight: 900;
  margin-top: 20px;
}

.yellow-text {
  color: #ffd600;
}

.logo {
  width: 210px;
  margin-bottom: 20px;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
  .logo {
    width: 410px;
  }
}
/* Large Screens */
@media (min-width: 901px) {
  .logo {
    width: 410px;
  }
}
